* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  margin: 10px
}

